


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>McMaster Whitewater</title>

<meta http-equiv="Content-Type"

    content="text/html; charset=iso-8859-1" />

<meta http-equiv="content-type" content="texthttp://www.mcmaster.ca/opr/html; charset=iso-8859-1" />
        <link href="css/mcmaster.css" rel="stylesheet" type="text/css" />
		<link  type="text/css"  rel="stylesheet"  media="screen"  charset="utf-8"  href="css/style.css" />
		<link  type="text/css"  rel="stylesheet"  media="screen"  charset="utf-8"  href="css/slimbox.css" />
		<link  type="text/css"  rel="stylesheet"  media="screen"  charset="utf-8"  href="css/picasaViewer.css" />
		<script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-vbw&key=ABQIAAAAGUX0LsYS23ItTWBg6etkWhSPQay4Rqr7ZBY_qAQSU4HBZuiDmBQThf720C8HEltRqK9z3yW-X0wF5Q"
    type="text/javascript"></script>
	<script type="text/javascript" src="js/gfdynamicfeedcontrol.js"></script>

</head>

<body>

<!-- START container -->
<div id="container">



<!-- START top_container -->
<div id="top_container">

  <!-- START logo -->
  
  <img src="images/mm_logo.gif" height="75" border="0" alt="McMaster University"/>
  <img   style="padding:0px 0px 0px 85px" src="images/mww_text.gif" height="75" border="0" alt="McMaster Whitewater"/>
  <img style="padding:0px 0px 0px 60px" src="images/mww_logo.gif" height="75" border="0" alt="McMaster Whitewater" />  
  <!-- END logo -->
  <!-- ++Begin Dynamic Feed Wizard Generated Code++ -->
  <!--
  // Created with a Google AJAX Search and Feed Wizard
  // http://code.google.com/apis/ajaxsearch/wizards.html
  -->

  <!--
  // The Following div element will end up holding the actual feed control.
  // You can place this anywhere on your page.
  -->
  <div id="feed-control" style="height:2em;">
    <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading MWW Forum Headlines...</span>
  </div>

  <!-- Google Ajax Api
  -->  
  

  <script type="text/javascript">
    function LoadDynamicFeedControl() {
      var feeds = [
	{title: 'MWW Forum',
	 url: 'http://mcmasterwhitewater.ca/forum/cgi-bin/yabb2/YaBB.pl?action=RSSrecent'
	}];
      var options = {
        stacked : false,
        horizontal : true,
        title : ""
      }

      new GFdynamicFeedControl(feeds, 'feed-control', options);
    }
    // Load the feeds API and set the onload callback.
    google.load('feeds', '1');
    google.setOnLoadCallback(LoadDynamicFeedControl);
  </script>
<!-- ++End Dynamic Feed Control Wizard Generated Code++ -->
                
  <!-- START menuwrap -->
  <div id="menuwrap">
    <!-- START menu -->
    <div class="menu">
      <ul>
        <li><a class="menutop" href="index.html">Home
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        <li><a class="menutop" href="course.html">Courses
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>		
		<li><a class="menutop" href="trips.html">Trips
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>		
		<li><a class="menutop" href="http://mcmasterwhitewater.ca/forum">Forum
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
		<li><a class="menutop" href="gallery.html">Photos
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
		<li><a class="menutop" href="video.html">Video
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
		<li><a class="menutop" href="faq.html">FAQ
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        <li><a class="menutop" href="#" >Legal
          </a>
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
              <li><a href="http://www.mcmasterwhitewater.ca/practice.html" target="_blank">Code of Practice</a></li>
              <li><a href="http://www.mcmasterwhitewater.ca/conduct.html" target="_blank">Code of Conduct</a></li>        
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>

		<li><a class="menutop" href="#" >Links
          </a>
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
              <li><a href="http://www.mcmaster.ca" target="_blank">McMaster University</a></li>
			  <li><a href="http://www.whitewater.ca" target="_blank">Esprit</a></li>
			  <li><a href="http://www.h2opaddles.com" target="_blank">H2O Paddles</a></li>        
			  <li><a href="http://www.boatwerks.net" target="_blank">Boatwerks</a></li>  
			  <li><a href="http://www.whitewaterontario.ca" target="_blank">Whitewater Ontario</a></li>        
			  <li><a href="http://www.levelsix.com" target="_blank">Level Six</a></li>        
			  <li><a href="http://macoutdoorclub.ca" target="_blank">McMaster Outdoor Club</a></li>        
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>        
		
		<li><a class="menutop" href="aboutus.html" >About Us
          </a>
		  <!--[if lte IE 6]><table><tr><td><![endif]-->
		  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>        
      </ul>

    </div>

	<!-- END menu -->
  </div>	
  <!-- END menuwrap -->

</div>
<!-- END top_container -->

  <!-- START main_container -->

<div id="main_container">
<div id="main_container_homepage">
{{ content }}
</div>
</div>

<!-- END main_container -->

<!-- START footer -->
<div id="footer"> &copy;&nbsp;

    <script type="text/javascript">

		var d = new Date();

		document.write("2006-" + d.getFullYear() + " ");

	</script>

  McMaster Whitewater&nbsp;&nbsp; 
</div>

<!-- END footer -->
</div>
<!-- END container -->




</body>

</html>


